<table class="table table-hover">
  <th>City Name</th>
  <th><a href="#" ng-click="cities.reverseSortOrderByTemp = !cities.reverseSortOrderByTemp">Temperature</a></th>
  <tr data-ng-repeat="city in cities.cityList | orderBy:cities.orderByTemp:cities.reverseSortOrderByTemp">

    <!-- City Name -->
    <td>
      <a data-ng-link="city({ id: city.getId() })" data-ng-bind="city.getName()"></a>
    </td>

    <!-- City Temperature-->
    <td data-ng-bind="city.getWeather().getTemp()"></td>
    
  </tr>
</table>

